* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 7.5vw 92.5vw;
    grid-template-rows: 5vw auto 5vw;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside footer";
}

header {
    /*background-color: aqua;*/
    /*background-color: rgb(72, 140, 204);*/
    background-color: rgb(49, 49, 49);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 10px;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav1 button{
    /*background-color: rgb(121, 177, 230);*/
    background-color: rgb(49, 49, 49);
    color: white;
    border: none;
    /*border-radius: 2px;*/
    height: 10vh;
    width: 70px;
    cursor: pointer;
}

.nav1 button:hover{
    /*background-color: rgb(101, 166, 226);*/
    border-bottom: 3px solid rgb(72, 140, 204);
}

.nav1 .logo{
    /*background-color: blueviolet;*/
    background-image: linear-gradient(to right, rgb(72, 140, 204), rgb(128, 44, 206));
    color: white;
    border-radius: 2px;
    width: 100px;
    height: 50px;
}

.nav1 .logo:hover{
    border-bottom: none;
}

.nav1 .logo h1{
    font-family: sans-serif;
}

.user {
    background-image: linear-gradient(to right, rgb(72, 140, 204), rgb(128, 44, 206));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    /*background-color: red;*/
    /*background-color: azure;*/
    grid-area: main;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9vw;
}

.titulo {
    display: flex;
    padding: 20px 0;
}

.titulo h1{
    color: white;
}

.content {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    /*background-color: antiquewhite;*/
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2px;
    width: 400px;
    height: 400px;
    padding: 20px;
}

aside {
    /*background-color: rgb(106, 167, 224);*/
    background-color: rgb(48, 48, 48);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

aside button{
    /*background-color: rgb(72, 140, 204);*/
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    border-radius: 2px;
    height: 50px;
    cursor: pointer;
}

aside button:hover{
    /*background-color: rgb(44, 116, 184);*/
    background-image: linear-gradient(to right, rgb(72, 140, 204), rgb(128, 44, 206));
}

footer {
    /*background-color: chartreuse;*/
    background-color: rgb(20, 20, 20);
    grid-area: footer;
    color: white;
    padding: 10px;
}

