* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    position: static;
    background-color: aliceblue;
}

.color {
    background-color: #1d539e;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
}

header h1 {
    font-size: 35px;
}

main {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 25rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgba(99, 99, 99, 0.603);
}

.card-head {
    height: 2rem;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
}

.card-tittle {
    font-size: 20px;
}

.card-double {
    border-radius: 5px 5px 0 0;
    background-color: #ffcc29;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-double h1 {
    color: #1d539e;
}

.card-double p {
    background-color: #1d539e;
    color: white;
    padding: .3rem 1rem;
    border-radius: 50px;
    font-size: 12px;
}

.card-body {
    flex: 2;
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price-cents {
    font-size: 16px;
}

.mounth {
    font-size: 16px;
    font-weight: normal;
}

.text-gray {
    color: #828799;
}

.content-include {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.content-include p {
    color: #828799;
}

.card-bottom {
    height: 5rem;
    padding: 0rem 2rem 2rem 2rem;
}

button {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    border: 2px solid #1d539e;
    background-color: white;
    font-size: 20px;
    color: #1d539e;
}

button:hover {
    cursor: pointer;
    background-color: #1d539e;
    color: aliceblue;
}

.button-blue button {
    background-color: #1d539e;
    color: white;
}

.button-blue button:hover {
    background-color: #134386;
    border: 2px solid #134386;
    color: white;
}